.movies-container {
  display: flex;
  flex-flow: column wrap;
  margin-top: 10px;
}

.movies-container .movie, .movies-container .movieResults {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 60px;
  padding: 0 10px;
}


.movies-container .barResults {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 75px;
  padding: 0 1px;
}

.bestmovies-container {
  text-align: center;
}

.movies-container .movieResults:hover {
  background-color: rgb(223, 222, 205);
}


.movie .header, .movieResults .bookinglink, .movieResults .price, .movieResults .rating, .movieResults .reviews, .movieResults .picture {
  flex: 0 0 20%;
}

.movie .header {
  align-items: center;
}

.barResults .header, .barResults .address{
  flex:  0 0 100%;
}

.movies-container .reviewResults {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 250px;
  padding: 0 1px;
}

.reviewResults .header, .reviewResults .comment{
  flex:  0 0 100%;
}


input[type="radio"]{
  margin: 0 10px 0 10px;
}
