.keywords-container {
  /* margin: 10px 0; */
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  /* border-bottom: 1px solid #ddd; */
}

.keywords-container .keyword {
  flex: 1 0 20%;
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.keywords-container .keyword:hover {
  background-color: rgb(223, 222, 205);
}

.movies-container .movies-header, .results-container .movie {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.movie .title, .movies-header .header-lg {
  flex: 1 0 50%;
}

.movies-container .loud-results {
  display: inline;
  height: 900px;
  padding: 0 1px;
}

.loud-results .header, .loud-results .link{
  flex:  0 0 100%;
  height: 200 px;
}

.movies-container .quiet-results {
  display: inline;
  flex:  0 0 500%;
  height: 1200px;
  padding: 0 1px;
}


.movies-header .header, .movie .rating, .movie .votes {
  flex: 1 0 25%;
}

.movies-container {
  text-align: center;
}
