.header-container, .results-container {
  display: flex;
  flex-flow: column wrap;
}

.header-container .headers, .results-container .movieResults {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 50px;
  padding: 0 10px;
}

.movieResults .name{
  flex: 0 0 27%;
}

.movieResults .room_type{
  flex: 0 0 30%;
}

 .movieResults .price, .movieResults .host_name {
  flex: 0 0 35%;
}

.headers .header {
  flex: 0 0 27%;
}

.movies-container .kushResults {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
  padding: 0;
}

.kushResults .header, .kushResults .name, .kushResults .picture {
  flex:  0 0 48%;
}


.hello {
	opacity: 0;
}

.recommendations-container {
  text-align: center;
}

.submit-btn {
  margin-left: 10px;
}

.movie-input {
  margin-top: 0px;
  margin-bottom: 0px;
}

.select-container {
  display: center;
  margin: 0 auto;
  width: 100%;
}